*{
    margin: 0;
    font-family: 'PT Serif', serif;
    box-sizing: border-box
}
.titulo{
    margin-top: 71px;
    margin-left: 12px;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 0.045em;
    color: #000000;
}
.subtitulo{
    margin-top: 38px;
    margin-left: 12px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 27px;
}
.mensaje{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 12px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    line-height: 21px;
}
@media (min-width: 768px){
    .caja{
        display: flex;
    }
    .titulo{
        padding-top: 110px;
        padding-left: 243px;
        width: auto;
        margin: 0;
    }
    .who{
        margin: 0;
        padding-left: 215px;
        padding-right: 10%;
        width: 55%;

    }
    .subtitulo{
        padding-top: 110px;
        padding-bottom: 10px;
        margin: 0;
    }
    .mensaje{
        margin: 0;
    }
}
.miembros{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 20px;
}

.miembros .miembro:nth-child(2n){
    margin-top: 40px;
}
.miembro{
    width: 50%;
}
.img-miembro{
    width: 80%;
}
img{
    width: 100%;
}
.puesto{
    font-size: 10px;
    line-height: 13px;
    font-weight: normal;
    font-style: normal;
    transform: translateX(35%) translateY(-890%) rotate(90deg);
}
.nombre{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    font-weight: 600px;
    font-style: normal;
}
@media (min-width: 768px){
    .miembros{
        margin: 0;
        padding: 173px 240px;
    }
    .miembro{
        width: 30%;
        margin-right: 5%;
    }
    .miembros .miembro:nth-child(2n){
        margin-top: 0;
    }
    .miembros .miembro:nth-child(3n+2) {
        margin-top: 40px;
    }
    .miembros .miembro:nth-child(3n){
        margin-right: 0;
    }
    .miembros .miembro:nth-child(n+4){
        padding-top: 70px;
    }
    .img-miembro{
        width: 238px;
    }
    .puesto{
        font-size: 13px;
        transform: translateX(48%) translateY(-1752%) rotate(90deg);
    }
}


.footer{
    margin: 144px 0 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: #BDBDBD;
}
.footer a{
    text-decoration: none;
    color: #333333;
}